@model Projekt.Data.Data.CMS.Kontakt

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Kontakt</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrescKontaktu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrescKontaktu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pozycja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pozycja)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdKontaktu">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
