<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item px-2"><a class="nav-link fw-medium active" asp-area="" asp-controller="Nawigacja" asp-action="Index">Nawigacja</a>
                        </li>
                        <li class="nav-item px-2"><a class="nav-link fw-medium active" asp-area="" asp-controller="CzymSieZajmujemies" asp-action="Index">Czym sie zajmujemy</a>
                        </li>
                        <li class="nav-item px-2"><a class="nav-link fw-medium active" asp-area="" asp-controller="Kontakt" asp-action="Index">Kontakt</a>
                        </li>
                        <li class="nav-item px-2"><a class="nav-link fw-medium active" asp-area="" asp-controller="Opinie" asp-action="Index">Opinie</a>
                        </li>
                        <li class="nav-item px-2"><a class="nav-link fw-medium active" asp-area="" asp-controller="PytaniaIOdpowiedzis" asp-action="Index">Pytania i odpowiedzi</a>
                        </li>
                        <li class="nav-item px-2"><a class="nav-link fw-medium active" asp-area="" asp-controller="StronaGlownas" asp-action="Index">Strona Główna</a>
                        </li>
                        <li class="nav-item px-2"><a class="nav-link fw-medium active" asp-area="" asp-controller="Ofertas" asp-action="Index">Oferta</a>
                        </li>
                        <li class="nav-item px-2"><a class="nav-link fw-medium active" asp-area="" asp-controller="RodzajTransportu" asp-action="Index">Rodzaj transportu</a>
                        </li>
                        <li class="nav-item px-2"><a class="nav-link fw-medium active" asp-area="" asp-controller="Stopka" asp-action="Index">Stopka</a>
                        </li>
                    </ul>
</div>