@model Projekt.Data.Data.CMS.CzymSieZajmujemy

<section>
    <div class="bg-holder" style="background-image:url(~/lib/traffico/public/assets/img/gallery/faq-bg.png);background-position:right;background-size:contain;">
        </div>
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 text-center mb-6 mb-md-0 order-0 order-md-1"><img class="w-100" src="~/lib/traffico/public/assets/img/gallery/about-us.png" alt="..." /></div>
            <div class="col-md-6 text-center text-md-start mb-6">
              <h4 class="text-danger"><br /><br /> @Model.TytulCzymSieZajmujemy </h4>
              <p class="my-5 fs-1 pe-xl-8"> @Model.Tresc1CzymSieZajmujemy </p>
              <div class="card card-span bg-soft-primary border-start border-primary border-5 mt-3">
                <div class="card-body">
                  <h4 class="lh-base px-lg-5 py-3"> @Model.Tresc2CzymSieZajmujemy </h4>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>

